.contacts{
    background-image:linear-gradient(rgba(25,43,76,0.8),rgba(25,43,76,0.8)), url("images/phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.quick{

}